
<!--<div class="footer navbar-fixed-bottom my-footer">-->
<!--<p class="text-center"> @Copt:vvvv vvvvvvvvvv vvvvvvvvvvvv vvvvvvvvvv</p>-->
<!--    </div>-->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {

   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
</style>
</head>
<body>
<div class="footer">
  <p>@Copt:vvvv vvvvvvvvvv vvvvvvvvvvvv vvvvvvvvvv</p>
    <p>ar.12345@gmail.com</p>
</div>

</body>
</html>
